<!DOCTYPE html>
<html>
  <head>
    <title>MyIg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <% if account_signed_in? %>
      <%= render "shared/account_nav" %>
    <% else %>
      <%= render "shared/public_nav" %>
    <% end %>

    <%= yield %>
  </body>
</html>
