<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class="post-meta">
            <%= link_to image_tag(post.account.image.thumb.url, class:"img-circle"), profile_path(post.account.username) %>
            <%= link_to post.account.username, profile_path(post.account.username), class:"text-dark" %>
          </div>
          <%= image_tag post.image.url, class: "img img-fluid" %>
          
          <div class="post-details" data-controller="like">
            <div class="post-actions" >
              <i class="fa fa-heart like-<%= post.id %> fa-2x post-like icon <%= "active" if liked_by_user?(post.id)%>" data-id=<%= post.id %> data-target="like.likebtn" data-action="click->like#like_or_not"></i>
              <%= link_to post_path(post.id) do %>
                <i class="fa fa-comment  fa-2x post-comment icon"></i>
              <% end %>
            </div>
            <p data-target="like.like_count" id="post-<%= post.id %>-likes"><strong><%= post.total_likes %></strong><strong> likes</strong></p>
            <p><strong id="post-<%= post.id %>-comments"></strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %></strong></p>
            <%= simple_format post.description %>
            <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
            <%= render "posts/comments" , post: post%>
          </div>

          <div class="comment-box">
            <%= form_for @comment do |f| %>
              <%= f.hidden_field :post_id, value: post.id %>
              <div class="input-group">
                <%= f.text_field :comment, placeholder: "Add comment here ....", class: "form-control post-comment" %>
                <div class="input-group-append">
                  <%= f.submit "Post", class: "btn btn-success float-right" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <div class="account-summary">
        <div class="account_group">
          <%= link_to image_tag(current_account.image.thumb.url, class:"img-circle"), profile_path(current_account.username) %>
          <div class="col-6">
            <strong><%= current_account.username %></strong>
            <p><%= current_account.full_name %></p>
          </div>
        </div>
      </div>
      <div class="follower-suggestions">
        <%= link_to "View all", "#", class:"float-right text-dark" %>
        <p class="text-muted">Suggestions for you</p>
        <%= render "accounts/follower_suggestions"%>
      </div>
    </div>
  </div>
</div>